<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <angeldm>
            <cockpit>
                <host>localhost</host>
                <port>9090</port>
                <dashboard></dashboard>
            </cockpit>
        </angeldm>
    </default>
</config>