<?xml version="1.0" encoding="UTF-8"?>
<!--
 /**
  * Copyright © Àngel Díaz Inc. All rights reserved.
  * See COPYING.txt for license details.
  */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="advanced" sortOrder="999" translate="label">
            <label>Advanced</label>
        </tab>
        <section id="system" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label">
            <label>System</label>
            <tab>advanced</tab>
            <resource>Angeldm_Cockpit::config</resource>
            <group id="server" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label">
                <label>Cockpit</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>angeldm/cockpit/enabled</config_path>
                </field>
                <field id="host" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Hostname</label>
                    <validate>required-entry</validate>
                    <config_path>angeldm/cockpit/host</config_path>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment/>
                </field>
                <field id="port" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Port</label>
                    <validate>required-entry validate-range range-1025-65536</validate>
                    <config_path>angeldm/cockpit/port</config_path>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment/>
                </field>
                <field id="ssl" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>SSL verify</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>angeldm/cockpit/ssl</config_path>
                </field>
                <field id="test_connection" translate="label comment" type="button" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label/>
                    <button_label>Test Connection</button_label>
                    <comment>
                        <![CDATA[This action ping Cockpit Server]]>
                    </comment>
                    <frontend_model>Angeldm\Cockpit\Block\Adminhtml\System\Config\TestConnection</frontend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
